*{
    box-sizing: border-box;
    border: 0px;
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(24,24,24);
    color: white;
    font-size: 19px;
}
a{
    text-decoration: none;
    color: white;
    padding: 10px 50px;
}
header p{
    cursor: pointer;
    position: relative;
    padding-left: 10px;
}
header{
    display: flex;
    position: relative;
    padding-top: 30px;
    z-index: 2;
    background-color: #121212;
    width: 100%;
    height: 13%;
}
.scrolling{
    position: fixed;

}
header > nav{
    position: absolute;
    right: 9px;
}
header > a{
    display: inline;
    margin: 20px;
}
header a:hover{
    border: 1px solid rgb(8, 239, 216);
    background-color: rgb(8, 239, 216);
    font-weight: 600;
    color:  black;
    border-radius: 10px;
    box-shadow: 10px;
}
.menubar{
    position: fixed;
    left: 0;
    margin-top: 50px;
    bottom: 100%;
    width: 100%;
    min-height: 100vh;
    display: block; 
    background-color: #181818e6;
    z-index: 1;
    padding-top: 150px;
    transition: 0.4s;
}
.menubar.is-active {
    bottom: 0;
}
.menubar a {
    display: block;
    margin: 0 auto 16px;
    text-align: center;
    margin-bottom: 16px;
    padding: 12px 16px;
    width: 100%;
    color: rgb(8, 239, 216);
    max-width: 200px; 
}
.menubar a:hover{
    border-bottom: 1px solid #FD1056;
    background-color: transparent;
    font-weight: 600;
}
#menu-icons{
    text-align: center;
    margin-top: 50px;
}
#menu-icons a{
    display: inline;
}
.hamburger{
    display: none;
}
#home{
    margin: 90px 40px 40px 40px;
    position: relative;
}
#first{
    font-size: 4rem;
    font-family: 'Rubik Moonrocks', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Rubik Moonrocks', cursive;
    font-weight: 400;
    letter-spacing: 9px;
    transform: translateX(10rem);
    animation: fadeInUp 1s ease-out 10ms forwards;
}

#first span:hover{
    color: rgb(8, 239, 216);
}
#first {
	-webkit-animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
@-webkit-keyframes tracking-in-contract-bck {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(400px);
              transform: translateZ(400px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
}
@keyframes tracking-in-contract-bck {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(400px);
              transform: translateZ(400px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
}
  
#second{
    display: flex;
    margin: 70px auto;
    letter-spacing: 5px;
    font-style: italic;
}
#second .dynamic{
    margin-left: 9px;
    line-height: 25px;
    height: 25px;
    overflow: hidden;
}
.dynamic li{
    position: relative;
    list-style: none;
    color: rgb(8, 239, 216);
    top: 0;
    animation: slide 28s steps(4) infinite;
}
@keyframes slide{
    100%{
        top: -100px;
    }
    
}
.dynamic li::after{
    content: "";
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(24,24,24);
    border-left: 2px solid #FD1056;
    animation: typing 7s steps(16) infinite;
}
@keyframes typing{
    40%, 60% {
        left: calc(100%);
    }
    100%{
        left: 0;
    }
}

#home button{
    color: rgb(8, 253, 216);
    padding: 15px 35px;
    border: 1px solid rgb(8, 239, 216);
    border-radius: 4px;   
}

.container{
    position: relative;
    width: max-content;
    transform: translateX(-20rem);
    animation: fadeInUp 1s ease-out 3s forwards;
}
  
input{
    position: relative;
    border: 1px solid rgb(8, 239, 216);;
    color: rgb(8, 253, 216);
    background-color: transparent;
    padding: 15px 35px;
    border-radius: 10px;
    letter-spacing: 4px;
    cursor: pointer;
}
@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.wdth{
    position: absolute;
    width: 0;
    height: 100%;
    background-color: rgb(8, 239, 216);
    top: 0;
    left: 0;
    transition: 0.5s ease-in-out;
    z-index: -1;
}
.wdth1{
    position: absolute;
    width: 0;
    height: 100%;
    background-color: rgb(8, 239, 216);
    top: 0;
    right: 0;
    transition: 0.5s ease-in-out;
    z-index: -1;
}
.container:hover .wdth{
    width: 50%;
    border-radius: 20px 0 0 20px;
}
.container:hover .wdth1{
    width: 50%;
    border-radius: 0 20px 20px 0;
}
.container:hover input{
    color: white;
    font-weight: 600;
    border: none;
    color: black;  
    
}
.container:hover {
    border: none;
}
#third{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 10px;
    
}
#third img{
    width: 15rem;
    height: 16rem;
    border-radius: 20%;
}
.svg svg{
    position: relative;
    margin-top: -90px;   
}
#skills{
    background-color: #121212;
}
#skills h2{
    margin: 0px 20px 10px 20px;
}
.skill-row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}
.skil{
    border: 1px solid rgb(8, 239, 216);
    padding: 30px 40px;
    margin: 20px;
    width: 30%;
    border-radius: 5px;
    text-align: center;
    box-shadow: 1px 2px rgb(8, 239, 216);
}
.skil:hover{
    background-color: rgb(29,29,29);
    border: 1px solid #FD1056;
    box-shadow: 1px 2px #FD1056;
}
@media (max-width: 1000px) {
    header nav{
        display: none;
    }
    body{
        text-align: center;
        overflow-x: hidden;
    }
    #first{
        font-size: 35px;
        line-height: 59px;
    }
    #third img {
        display: none;
    }
    #second{
        display: flex;
        justify-content: center;
    }
    .container{
        display: none;
    }
    .small-btn{
        position: relative;
        background-color: transparent;
        margin-top: -10px;
        margin-bottom: 60px;
        letter-spacing: 5px;
    } 
    .hamburger{
        position: absolute;
        margin-top: -5px;
        right: 0px;
        margin-right: 20px;
        display: block;
        width: 35px;
        height: 35px;
        cursor: pointer;
        appearance: none;
        background: none;
        border: none;
        outline: none;
    }
    .hamburger .bar, .hamburger:after, .hamburger:before{
        content: '';
        display: block;
        width: 100%;
        height: 5px;
        background-color: #FFF;
        margin: 4px 0px;
        transition: 0.4s;
    }
    .hamburger.is-active:before{
        transform: rotate(-45deg) translate(-7px, 4px);
    }
    .hamburger.is-active .bar{
        opacity: 0;
    }
    .hamburger.is-active:after{
        transform: rotate(45deg) translate(-9px, -5.4px);
    }
    .skill-row{
        flex-direction: column;
    }
    .skil{
        width: 91%;
    }
}
@media (max-width: 403px) {
    header{
        height: 11%;
        padding-top: 20px;
    }
    .hamburger{
        width: 15px;
        margin-right: 10px;
    }
    .hamburger .bar, .hamburger:after, .hamburger:before{
        height: 4px;
        margin: 3px 0px;
    }
    .hamburger.is-active:after{
        transform: rotate(45deg) translate(-4.7px, -1.5px);
    }
    #first{
        font-size: 24px;
    }
    #second{
        font-size: 16px;
        letter-spacing: 3px;
    }
    #second .dynamic{
        margin-left: 7px;
        line-height: 20px;
        height: 20px;
    }
    @keyframes slide{
        100%{
            top: -80px;
        } 
    }
    .small-btn{
        padding: 7px 9px;
        letter-spacing: normal;
    }
    .svg{
        padding-top: 40px;
    }
    #skills{
        margin-top: -25px;
        padding-top: 20px;
    }

}
@media (max-width: 296px) {
    header{
        height: 10%;
        padding-top: 20px;
    }
    .hamburger{
        width: 15px;
        margin-right: 10px;
    }
    .hamburger .bar, .hamburger:after, .hamburger:before{
        height: 3px;
        margin: 3px 0px;
    }
    .hamburger.is-active:after{
        transform: rotate(45deg) translate(-4.7px, -1.5px);
    }
    #first{
        font-size: 20px;
        margin-top: -50px;
        line-height: 45px;
    }
    #second .static{
        display: none;
        text-align: center;
    }
    .dynamic{
        margin: -40px 0 -40px 0;
    
    }
    .small-btn{
        padding: 7px 9px;
        letter-spacing: normal;
        margin-top: -40px;
    }
    .svg{
        padding-top: 40px;
    }
    #skills{
        margin-top: -40px;
        padding-top: 20px;
    }

}
@media (min-width: 1001px) {
    .small-btn{
        display: none;
    }
    
}
