*{
    box-sizing: border-box;
    border: 0px;
    margin: 0px;
}
body{
    margin: 20px;
    background-color: rgb(24,24,24);
    color: white;
    font-size: 19px;
}
a{
    text-decoration: none;
    color: white;
    padding: 10px 50px;
}
header p{
    cursor: pointer;
    position: relative;
}
header{
    display: flex;
    position: relative;
    margin-top: 40px;
    z-index: 2;
}
.scrolling{
    position: fixed;

}
header > nav{
    position: absolute;
    right: 0;
}
header > a{
    display: inline;
    margin: 20px;
}
header a:hover{
    border: 1px solid rgb(8, 239, 216);
    background-color: rgb(8, 239, 216);
    font-weight: 600;
    color:  black;
    border-radius: 10px;
    box-shadow: 10px;
}
.menubar{
    position: fixed;
    left: 0;
    bottom: 100%;
    width: 100%;
    min-height: 100vh;
    display: block; 
    background-color: rgb(24,24,24,0.9);
    z-index: 1;
    padding-top: 120px;
    transition: 0.4s;
}
.menubar.is-active {
    bottom: 0;
}
.menubar a {
    display: block;
    margin: 0 auto 16px;
    text-align: center;
    margin-bottom: 16px;
    padding: 12px 16px;
    width: 100%;
    color: rgb(8, 239, 216);
    max-width: 200px; 
}
.menubar a:hover{
    border-bottom: 1px solid #FD1056;
    background-color: transparent;
    font-weight: 600;
}
#menu-icons{
    text-align: center;
    margin-top: 50px;
}
#menu-icons a{
    display: inline;
}
.hamburger{
    display: none;
}
#home{
    margin: 90px 40px 40px 40px;
    position: relative;
    text-align: center;
}
#first{
    font-size: 4rem;
    font-family: 'Rubik Moonrocks', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Rubik Moonrocks', cursive;
    font-weight: 400;
    letter-spacing: 9px;
    transform: translateX(10rem);
    animation: fadeInUp 1s ease-out 10ms forwards;
}

#first span:hover {
    color: rgb(8, 239, 216);
}
/* #first span{
    -webkit-animation: jello-vertical 0.9s both;
    animation: jello-vertical 0.9s both;
}
 @-webkit-keyframes jello-vertical {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    40% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    50% {
      -webkit-transform: scale3d(0.85, 1.15, 1);
              transform: scale3d(0.85, 1.15, 1);
    }
    65% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    75% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  @keyframes jello-vertical {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    40% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    50% {
      -webkit-transform: scale3d(0.85, 1.15, 1);
              transform: scale3d(0.85, 1.15, 1);
    }
    65% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    75% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
   */

#first {
	-webkit-animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
@-webkit-keyframes tracking-in-contract-bck {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(400px);
              transform: translateZ(400px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
}
@keyframes tracking-in-contract-bck {
    0% {
      letter-spacing: 1em;
      -webkit-transform: translateZ(400px);
              transform: translateZ(400px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
}
  
#second{
    margin: 25px auto;
    letter-spacing: 5px;
   

}
#type{
    position: relative;
    text-align: center;
    width: fit-content;
    margin-left: 1%;

}
#type::before,
#type::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#type::before{
    background: rgb(24,24,24);
    animation: typewriter 6s steps(32) 1s forwards;
}
#type::after{
    width: 0.125em;
    background:  rgb(8, 239, 216);
    animation: typewriter 6s steps(32) 1s forwards,
    blink 800ms steps(32) infinite;
}
#home button{
    color: rgb(8, 253, 216);
    padding: 15px 35px;
    border: 1px solid rgb(8, 239, 216);
    border-radius: 4px;
    background-color: transparent;
    letter-spacing: 4px;
    margin-top: 35px;
    color: rgb(8, 239, 216);
    opacity: 0;
    transform: translateX(-10rem);
    animation: fadeInUp 2s ease 7s forwards; 
}
#home button:hover{
    border: 1px solid rgb(8, 239, 216);
    background-color: rgb(8, 239, 216);
    font-weight: 600;
    color:black;
    border-radius: 4px;
}
@keyframes typewriter {
    to {
        left: 100%;
    }
}
@keyframes blink {
    to {
        background: transparent;
    }
}
@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* #third{
    position: absolute;
    right: 0;
    margin-right: 10px;
    margin-top: 20px;
    
}
#third img{
    width: 15rem;
    height: 16rem;
    border-radius: 20%;
} */

#home button{
    color: rgb(8, 253, 216);
    padding: 15px 35px;
    border: 1px solid rgb(8, 239, 216);
    border-radius: 4px;   
}

.container{
    position: relative;
    width: max-content;
    margin-top: 50px;
    margin-left: 35%;
}
.container {
	-webkit-animation: tracking-in-expand 7s cubic-bezier(0.550, 0.055, 0.675, 0.190) both;
	        animation: tracking-in-expand 7s cubic-bezier(0.550, 0.055, 0.675, 0.190) both;
}
 @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  
input{
    position: relative;
    border: 1px solid rgb(8, 239, 216);;
    color: rgb(8, 253, 216);
    background-color: transparent;
    padding: 15px 35px;
    border-radius: 5px;
    letter-spacing: 4px;
    /* transform: translate(-20rem);
    animation: fadeInUp 2s ease 7s forwards; */
    cursor: pointer;

}
.wdth{
    position: absolute;
    width: 0;
    height: 100%;
    background-color: rgb(8, 239, 216);
    top: 0;
    left: 0;
    transition: 0.5s ease-in-out;
    z-index: -1;
}
.wdth1{
    position: absolute;
    width: 0;
    height: 100%;
    background-color: rgb(8, 239, 216);
    top: 0;
    right: 0;
    transition: 0.5s ease-in-out;
    z-index: -1;
}
.container:hover .wdth{
    width: 50%;
    border-radius: 20px 0 0 20px;
}
.container:hover .wdth1{
    width: 50%;
    border-radius: 0 20px 20px 0;
}
.container:hover input{
    color: white;
    font-weight: 600;
    border: none;
    color: black;
    
    
}
.container:hover {
    border: none;
    
}
@media (max-width: 700px) {
    body{
        margin: 15px;
        overflow-x: hidden;
    }
    #menu{
        display: block;
        position: absolute;
        right: 0;
        cursor: pointer;
    }
    #navbar{
        display: none;
    }
    #home{
        flex-wrap: wrap;
        margin: 50px 20px;
        text-align: center;
    }
    #first{
        font-size: 2rem;
        line-height: 3rem;
    }
    #type{
        margin-left: 16%;
        flex-shrink: 3%;
    }
 
    .hamburger{
        position: absolute;
        margin-top: -5px;
        right: 0px;
        display: block;
        width: 35px;
        height: 35px;
        cursor: pointer;
        appearance: none;
        background: none;
        border: none;
        outline: none;
    }
    .hamburger .bar, .hamburger:after, .hamburger:before{
        content: '';
        display: block;
        width: 100%;
        height: 5px;
        background-color: #FFF;
        margin: 4px 0px;
        transition: 0.4s;
    }
    .hamburger.is-active:before{
        transform: rotate(-45deg) translate(-7px, 4px);
    }
    .hamburger.is-active .bar{
        opacity: 0;
    }
    .hamburger.is-active:after{
        transform: rotate(45deg) translate(-9px, -5.4px);
    }
    
}
@media (min-width: 701px) and (max-width: 857px){
    #type{
        margin-left: 16%;
    }
    
}
@media (min-width: 300px) and (max-width: 464px){
    #first span{
        font-size: 25px;
        font-weight: 300;
    }
    #type{
        font-size: 8px;
        margin: 0px;
    }
    .container{
        margin: 25%;

    }
    input{
        font-size: 11px;
        padding: 5px 9px;
    }
    
}